body {
  background-color: #fff;
  text-align: center;
}

h1, h2 {
  color: #01a9b4;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  line-height: 1.1;
  margin: 18px;
}

p {
  color: #023465;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  background-color: #01a9b4;
  padding: 5px;
  border-radius: 4px;
}

a:hover {
  text-decoration: underline;
  background-color: #023465;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.profile_card {
  background: white;
  padding: 20px;
  border: 1px solid lightgrey;
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 10px 10px 30px rgba(0,0,0,.1);
  height: 250px;   /* Set the width */
  margin: 20px auto;      /* Set automatic margins on right/left */  /* Light shadow */
}

.contact_card {
  background: white;
  padding: 20px;
  border: 1px solid lightgrey;
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 10px 10px 30px rgba(0,0,0,.1);
  height: 150px;   /* Set the width */
  margin: 20px auto;
}

img {
  width: 90px;
  border-radius: 50%;
  margin: 13px auto;
}

ul {
  display: inline-block;
  list-style: none;
  color: #023465;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0px 7px;
}
.container {
  width: 500px;   /* This sets the width */
  margin: 5px auto; /* This automatically sets left/right margins */
}
